<div class="progress" style="height: 20px;">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
    style="width: <%= progressPercent %>%;" aria-valuenow="<%= progressPercent %>" aria-valuemin="0" aria-valuemax="100">
    <%= progressPercent %>%
  </div>
</div>
